.type-box {
  display: block;
  overflow: hidden;
  width: 1200px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.mode-bar {
  align-self: start;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px; /* Adds padding on the left and right */
  /* margin: 20px; Optional, adds margin around the bar */
  margin-bottom: 20px;
  background-color: #333333;
  color: #e2dddd;
  border-radius: 20px;
}

.duration {
  margin-left: 0; /* Aligns the duration to the left */
  font-size: 16px; /* You can adjust the font size */
}

.buttons {
  display: flex;
  gap: 10px; /* Adds space between buttons */
  margin-right: 10px; /* Adds margin from the right end */
}

.duration-button {
  padding: 8px 16px; /* Adds padding inside buttons */
  font-size: 14px; /* Adjust font size */
  cursor: pointer; /* Adds pointer cursor on hover */
  border: none; /* Optional: Adds rounded corners */
  background-color: #333333;
  color: #e2dddd;
}

.duration-button:hover {
  color: #f0f0f0;
}

.word-box {
  display: flex;
  flex-wrap: wrap;
  font-size: 35px;
  /* padding-top: 2rem; */
  /* padding-bottom: 2rem; */
}
.input-field {
  /* overflow: hidden; */
  opacity: 0;
  z-index: -999;
  position: absolute;
}

.char {
  display: inline-block;
}

.correct-char {
  color: green;
  /* background-color: rgb(159, 228, 159); */
}

.incorrect-char {
  color: red;
  /* background-color: rgb(223, 140, 140); */
}

.current-char {
  border-left: 2px solid blue;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(222, 138, 170);
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  backdrop-filter: blur(8px); /* Blur effect on background */
  background-color: rgba(
    26,
    26,
    26,
    0.9
  ); /* Semi-transparent dark background */
  z-index: 10; /* Ensure it stays above all other elements */
}
.modal-text {
  color: #c2bad2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result {
  display: flex;
  flex-direction: column;
}
.graph {
  height: 300px;
  width: 750px;
}

.result-box {
  display: flex;
  /* height: 500px; */
  justify-content: space-evenly;
  align-items: center;
}

.retest-btn {
  border: none;
  background-color: #1a1a1a;
  color: #c2bad2;
  height: 100px;
  width: 100px;
}

.retest-btn-icon:hover {
  transition: transform 0.5s ease-in-out;
  transform: rotate(270deg); /* Rotates the icon on hover */
  cursor: pointer; /* Changes the cursor to indicate it's interactive */
}

.retest-result {
  border: none;
  background-color: #1a1a1a;
  color: #c2bad2;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 100px;
}

/* Container for login and signup boxes */
.login-box {
  display: flex;
  justify-content: space-between;
  gap: 160px;
  padding: 20px;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.signup-box {
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
}

.eye-icon {
  color: #f0f0f0;
  background-color: #333333;
}

.register-login-heading {
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-input {
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid #333333;
  width: 100%;
  background-color: #333333;
}

.password-field {
  display: flex;
  align-items: center;
  position: relative;
}

.show-password-icon {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.auth-btn {
  display: flex;
  height: 40px;
  padding: 10px;
  background-color: #333333;
  color: #f0f0f0;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.auth-btn:hover {
  color: #333333;

  background-color: #f0f0f0;
}
.signin-btn-field {
  display: grid;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  margin-top: 5px;
}
.checkbox-field {
  display: flex;
  justify-items: left;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.heading-field {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading-field > h1 {
  margin-left: 7px;
}

.empty-line {
  height: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #333333;
}

.checkbox-text {
  margin-left: 8px;
  font-size: 15px;
}

.dropdown {
  position: absolute;
  width: 150px;
  top: 100%; /* Position it right below the icon */
  right: 0; /* Align it to the right of the parent container */
  border-radius: 10px;
  background-color: #333333;
  /* padding: 10px; */
  z-index: 1000;
}

.dropdown-btn {
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: #333333;
  width: 100%;
  color: #e2dddd;
}

.dropdown-btn-items {
  align-items: center;
  justify-items: center;
  padding-left: 5px;
  display: flex;
  gap: 5px;
}
.dropdown-btn:hover {
  /* border-radius: 0px; */
  width: 100%;
  background-color: #e2dddd;
  color: #333333;
  cursor: pointer;
}
