.type-box {
  display: block;
  overflow: hidden;
  width: 1200px;
  height: 240px;
  margin-left: auto;
  margin-right: auto;
}

.mode-bar {
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: white;
  color: black;
  height: 20px;
  display: flex;
  justify-content: space-between;
  /* width: 1250px;
  margin-left: auto;
  margin-right: auto; */
}

.duration-button {
  margin-right: 5px;
  border: none;
  background-color: white;
  border-color: rgb(231, 231, 159);
}

.word-box {
  display: flex;
  flex-wrap: wrap;
  font-size: 35px;
}
.input-field {
  opacity: 0;
  z-index: -999;
  position: absolute;
}

.char {
  display: inline-block;
}

.correct-char {
  color: green;
  /* background-color: rgb(159, 228, 159); */
}

.incorrect-char {
  color: red;
  /* background-color: rgb(223, 140, 140); */
}

.current-char {
  border-left: 2px solid blue;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(222, 138, 170);
  }
}

.modal {
  display: block;
  border-style: solid;
  border-width: 10px;
  border-color: rgb(235, 211, 241);
  width: 1200px;
  height: 240px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 200px;
}
