.type-box {
  display: block;
  overflow: hidden;
  width: 1200px;
  height: 240px;
  margin-left: auto;
  margin-right: auto;
}

.mode-bar {
  /* margin-bottom: 20px; */
  border-radius: 2rem;
  background-color: #333333;
  color: #e2dddd;
  height: 30px;
  display: flex;
  justify-content: space-between;
  /* width: 1250px;
  margin-left: auto;
  margin-right: auto; */
}

.duration {
  display: flex;
}

.buttons {
  display: flex;
  margin-right: 40px;
}
.duration-button {
  margin-right: 20px;
  border: none;
  background-color: #333333;
  color: #e2dddd;
  /* border-color: rgb(231, 231, 159); */
}

.word-box {
  display: flex;
  flex-wrap: wrap;
  font-size: 35px;
  /* padding-top: 2rem; */
  /* padding-bottom: 2rem; */
}
.input-field {
  /* overflow: hidden; */
  opacity: 0;
  z-index: -999;
  position: absolute;
}

.char {
  display: inline-block;
}

.correct-char {
  color: green;
  /* background-color: rgb(159, 228, 159); */
}

.incorrect-char {
  color: red;
  /* background-color: rgb(223, 140, 140); */
}

.current-char {
  border-left: 2px solid blue;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(222, 138, 170);
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  backdrop-filter: blur(8px); /* Blur effect on background */
  background-color: rgba(
    26,
    26,
    26,
    0.9
  ); /* Semi-transparent dark background */
  z-index: 10; /* Ensure it stays above all other elements */
}
.modal-text {
  color: #c2bad2;
  display: flex;
  justify-content: center;
  align-items: center;
}
