* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1a1a1a;
  color: #fbfbfb;
  transition: all 0.25s linear;
}

.display-grid {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(1.5rem, 1fr) minmax(auto, 1200px) minmax(
      1.5rem,
      1fr
    );
  width: 100%;
  gap: 0.5rem;
  text-align: center;
  align-items: center;
}

.display-grid > * {
  grid-column: 2;
}

.footer {
  align-self: end;
}
